body{
    margin:1150px;
    overflow: hidden;
    font-family: sans-serif;
    background:linear-gradient(to bottom,#c27474,#39254D);
}
h1{
    margin-left: 75px;
}
p{
    margin-top: 12px;;
}
.click-here{
    color: white;
    font-size: 24px;
}
input:focus::placeholder {
    color: transparent;
  }
.click-here:hover{
    color:  #2F303A ;
}
.email{
    width: 280px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size: 20px;
    font-weight: 500;
    color:white;
    animation: direction 2s;
}
@keyframes direction{
    0%{
        transform: translateY(200%);
    }
    100%{
     transform: translate(-50% , -50%);
     
    }
}
@keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.textbox{
    width:100%;
    overflow:hidden;
    font-size: 24px;
    border:none;
    color: white;
    outline:none;
    background:none;
    padding: 8px 0 ;
    margin: 8px 0;
    border-bottom: 1px solid;
}
.textbox i{
    width:26px;
    float:left;
    text-align:center;
    

}
.textbox:hover{
    border-bottom: 1px solid #3C99DC;
}

.btn{
    width:100%;
    background:none;
    border: 2px solid #ffffff;
    color:white;
    padding:5px;
    cursor: pointer;
    font-size: 20px;
    border-radius:15px;
    margin-top:20px;
}
.btn:hover{
    border: 1px solid #3C99DC;
    color: #3C99DC;
    font-weight: 500;
}
.Navigation{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    top:20%;
    left:42%;
    transform:translate(-10%,-10%);
    position :absolute;
    animation: show 2s;

}
.brand-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration:none;
}
.brand-logo-name{
    justify-content: center;
    align-items: center;
    color: inherit;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 36px;
    margin-left: 20px;
}
.Nav-links a{
    color: #fff;
    display: flex;
    font-weight: 600;
    list-style: none;
    align-items: center;
    text-decoration: none;
    line-height: 5px;
    padding : 2px;
    justify-content: space-between;
}
.Nav-links ul{
    list-style: none;
    display: flex;
    font-weight: 500;
    font-size: 36px;
   
}
.Nav-links a:hover{
    color: #2F303A;
}
