* , *::before , *::after{

    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
    background:linear-gradient(to bottom,#c27474,#39254D);
}
.contain{
    margin : 20px;
    
}
.Navigation{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 2rem;
    animation: show 2s;

}
.head{
    animation: up 2s;
}
.name{
    display: flex;
    margin-top: 3.5rem;
    justify-content: center;
    margin-left: 4.2rem;
    align-items: center;
    font-size: 20px;
}
.name p{
    color: #ffffff;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

#firstname{
    border:none;
    outline:none;
    background:none;
    color:white;
    font-size: 18px;
    border-bottom: 1px solid;
    margin-top: 10px;
    cursor: pointer;
    width: 9rem;
    transition: all ease 0.4s;

}
#firstname:hover{
    border-bottom: 1px solid  #3C99DC;
}
#lastname{
    border:none;
    outline:none;
    background:none;
    cursor: pointer;
    margin-top: 10px;
    color:white;
    font-size: 18px;
    border-bottom: 1px solid;
    width: 8rem;
    transition: all ease 0.4s;
}
#lastname:hover{
    border-bottom: 1px solid  #3C99DC;
}
.brand-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration:none;
}
.brand-logo-name{
    justify-content: center;
    align-items: center;
    color: inherit;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 36px;
    margin-left: 20px;
}
.Nav-links a{
    color: #fff;
    display: flex;
    font-weight: 600;
    list-style: none;
    align-items: center;
    text-decoration: none;
    line-height: 5px;
    transition: all ease 0.4s;
    padding : 2px;
    justify-content: space-between;
}
.Nav-links ul{
    list-style: none;
    display: flex;
    font-weight: 500;
    font-size: 36px;
   
}
.Nav-links a:hover{
    color: #2F303A;
  
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-left: 1rem;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    align-items: center;
    justify-items: center;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: -35px;
    transform: scale(1);
    margin-top: 15px;
    transition: all ease 0.4s;
    margin-left: 17px;
    height: 25px;
    width: 25px;
    background-color: none;
    border: 1px solid #fff;
  }
  .checkmark:hover{
    border: 1px solid #3C99DC;
  }
  .condition {
      margin-top: 25px;
      margin-left: 2rem;
      margin-bottom: 5px;
      font-size: 18px;

  }
  input:focus::placeholder {
    color: transparent;
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    overflow: hidden;
    background-color: transparent;
  }
  
  
  
  .terms{
      color: #fff;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  
.createacc{
    margin-top: 0.5rem;

    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fff;
    

 
}


.login{
    width: 500px;
    position: absolute;
    margin-top: 1.5rem;
    top:50%;
    align-items: center;
    justify-content: center;
    transition: all ease 0.4s;
    left:50%;
    transform:translate(-50%,-45%);
    color:white;
    animation: direction 2s;
    padding: 80px 40px;

}


.textbox{
  
    font-size: 20px;
    transition: all ease 0.4s;
    padding: 8px 0 ;
    margin: 8px 0;


}


.textbox input{
    width: 500px;
    border:none;
    outline:none;
    cursor: pointer;
    background:none;
    color:white;
    font-size: 18px;
    border-bottom: 1px solid;
    transition: all ease 0.4s;
}
input:hover{

    border-bottom: 1px solid  #3C99DC;
}



.btn{
    width: 500px;
    background:none;
    border: 1px solid #ffffff;
    border-radius: 15px;
    color:white;
    padding:5px;
    cursor: pointer;
    transition: all ease 0.4s;
    font-size:18px;
    margin-top: 20px;
}
.btn:hover{
    border: 1px solid #3C99DC;
    color: #3C99DC;
    font-weight: 500;
}

@keyframes direction{
    0%{
        transform: translateY(200%);
    }
    100%{
     transform: translate(-50% , -45%);
     
    }
}
@keyframes up{
    0%{
        transform: translateY(-200%);
    }
    100%{
        transform: translateY(0%);
    }
}
@keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
