* , *::before , *::after{
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: sans-serif;
    background:linear-gradient(to bottom,#c27474,#39254D);
}
h1{
    margin-left: 75px;
}
p{
    margin-top: 12px;;
}
.login{
    width: 280px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    animation: direction 2s;
}
input:focus::placeholder {
    color: transparent;
  }
@keyframes show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes direction{
    0%{
        transform: translateY(200%);
    }
    100%{
     transform: translate(-50% , -50%);
     
    }
}
.textbox{
    width:100%;
    overflow:hidden;
    font-size: 20px;
    padding: 8px 0 ;
    margin: 8px 0;
    border-bottom: 1px solid;
}
.textbox:hover{
    border-bottom: 1px solid #3C99DC;
}
.textbox i{
    width:26px;
    float:left;
    text-align:center;
}
.textbox input{
    width: 100%;
    border:none;
    outline:none;
    background:none;
    color:white;
    font-size: 18px;
    width:80%;
    float:left;
    margin:0 10px;
}
.btn{
    width:100%;
    background:none;
    border: 2px solid #ffffff;
    color:white;
    padding:5px;
    font-size:18px;
    cursor: pointer;
    border-radius:15px;
    margin-top:21px;
}
.btn:hover{
    border: 1px solid #3C99DC;
    color: #3C99DC;
    font-weight: 500;
}
.Navigation{
    margin-left: 50px;
    width: 90%; 
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    top:10%;
    left:10%;
    transform:translate(-10%,-10%);
    position :absolute;
    animation: show 2s;
}

.discover{
    padding-right: 30px;
}
.brand-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration:none;
}
.brand-logo-name{
    justify-content: center;
    align-items: center;
    color: inherit;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 36px;
    margin-left: 20px;
}
.Nav-links a{
    color: #fff;
    display: flex;
    font-weight: 600;
    list-style: none;
    align-items: center;
    text-decoration: none;
    line-height: 5px;
    padding-left : 20px;
    justify-content: space-between;
}
.Nav-links ul{
    list-style: none;
    display: flex;
    
    font-weight: 500;
    font-size: 36px;
   
}
.Nav-links a:hover{
    color: #2F303A;
}
